extends ../base

block content
    div.container.detail_photos
        img(src="/" + room.fileUrl).detail_photos_firtsphoto
    div.container.detail_contend
        div.detail_title
            h1.detail_title_h1 #{room.title} 
                span.detail_title_span ❤ 
                    span.detail_title_span_views=room.meta.views
    div.container.datail__hr                                                                                                                   
        div.datail__hr_div
    div.container.detail_location
        h3.detail_location_h3 
            i.fas.fa-map-location-dot  #{room.city} 
            span
                a.detail_location_a(href=`/users/${room.host._id}`) HOST : #{room.host.username}
    div.container.detail_main_contend
        div.detail_description_contend
            h3.detail_h3 Description
                p.detail_description_p=room.description
        div.detail_amenities_contend
            h3.detail_h3 Amenities
                ul.detail_ul
                    each amenity in room.amenities
                        li.detail_li=amenity
            
    if String(room.host._id) === loggedInUser._id
        a(href=`${room.id}/edit`) Edit Room &rarr;
        br
        a(href=`${room.id}/delete`) Delete Room &rarr;
    

