extends ../base

block content
    img(src="/" + room.fileUrl, width="300", height="300")
    div 
        p=room.description
        small=room.createdAt
    div 
        small Uploaded by 
            a(href=`/users/${room.host._id}`) #{room.host.username}
    if String(room.host._id) === loggedInUser._id
        a(href=`${room.id}/edit`) Edit Room &rarr;
        br
        a(hre f=`${room.id}/delete`) Delete Room &rarr;
    

