extends ../base

block content
    div.detail_photos
        img(src="/" + room.fileUrl).detail_photos_firtsphoto
    div.detail_contend
        div.detail_title
            h1.detail_title_h1 #{room.title} 
    div.datail__hr                                                                                                                   
        div.datail__hr_div
    div.detail_location
        h3.detail_location_h3 
            i.fas.fa-map-location-dot  #{room.city} 
            span
                a.detail_location_a(href=`/users/${room.host._id}`) HOST : #{room.host.username}
    div.detail_main_contend
        div.detail_description_contend
            h3.detail_h3 Description
                p.detail_description_p=room.description
        div.detail_amenities_contend
            h3.detail_h3 Amenities
                ul.detail_ul
                    each amenity in room.amenities
                        li.detail_li=amenity
    if loggedIn
        div.detail_room_reviews
            form.detail_room_review
                textarea.detail_room_review_textarea(cols="30", rows="10", placeholder="💬 Write a nice review")
                button Add Comment
    if String(room.host._id) === loggedInUser._id
        a(href=`${room.id}/edit`) Edit Room &rarr;
        br
        a(href=`${room.id}/delete`) Delete Room &rarr;

block scripts 
    script(src="/static/js/reviewCreate.js") 

